[flag]
; ++++++++++++++++++++++++++++++++++++++++++++++++++
save_detect = True
show_detect = False
do_predict = True
wait_key = True
show_steps = False
train_mode = False

[sensor]
; ++++++++++++++++++++++++++++++++++++++++++++++++++
depth_scale_params = [400, 600, 100, 60000]
bound_margin = 20
use_rgb = True
use_depth = True
depth_min = 450
depth_max = 550
crop_poly = [(509, 239), (961, 242), (970, 594), (510, 571)]
crop_rect = None
depth_size = (480, 848)
rgb_size = (720, 1280)
vid_fps = 15.0
ws_depth = 300
center = (656.604, 379.6)
focal = (924.444, 923.571)

[path]
; ++++++++++++++++++++++++++++++++++++++++++++++++++
root_dir = test_data
im_suffixes = *rgb*
depth_suffixes = *depth*

[disp]
; ++++++++++++++++++++++++++++++++++++++++++++++++++
window_size = (800, 1200)
show_depth_jet = True
show_rgb_main = True
text_info_org = (50, 50)
text_scale = 0.8
text_thick = 2
text_color = (0, 0, 255)
text_rect = (0, 0, 100, 100)
text_alpha = 0.5
up2down = True
text_space = 30
line_thick = 2
line_color = (0, 255, 0)
marker_size = 10
marker_thick = 2
marker_color = (0, 255, 0)
bg_color = (0, 100, 0)
bg_depth_diff_thres = 5
roi_disp_size = (150, 150)
pad_size = (50, 50)

